@media (max-width: 650px) {
  @import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600;700&display=swap");
  body {
    font-family: "Asap", sans-serif;
  }
  /* Navigation */
  .Navigation {
    display: flex;
    flex-direction: row;
    height: 60px;
    border-bottom: 1px solid black;
  }

  .logoZone {
    width: 60%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .logo {
    width: 60px;
    height: 60px;
  }

  .logoImg {
    width: 60px;
    height: 60px;
    margin-left: 18px;
  }

  .iconZone {
    width: 40%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .iconLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  }

  .icon {
    width: 20px;
    height: 100%;
    cursor: pointer;
    /* margin-left: 40px; */
  }

  .i4 {
    margin-right: 20px;
  }

  /* Main carousel */
  .Main {
    height: calc(100vh - 60px);
  }

  .imgZone {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444;
    font-size: 50px;
    background-color: black;
  }
  /* Footer */
  .Footer {
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
  }

  .footerTitle {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 23px;
  }

  .footerBold {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 120px;
  }

  .instaZone {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 100px;
    margin-bottom: 10px;
  }

  .instagram {
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: white;
  }

  .tel {
    font-size: 17px;
  }

  .ftBold {
    width: 100%;
    height: 70px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footerSlim {
    width: 100%;
    height: 100px;
    font-size: 13px;
    font-weight: 100;
    color: #888;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* About */
  .About {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .A_topBg {
    width: 100%;
    height: 270px;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
  }

  .brandSpan {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    margin-top: 20px;
  }
  .KOAA {
    font-size: 25px;
    color: #335696;
    font-weight: bold;
  }
  .KOAA_detail {
    font-size: 20px;
    color: #335696;
  }

  .A_main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .A_title {
    font-size: 20px;
    width: auto;
    margin-top: 20px;
  }
  .A_img {
    width: 345px;
    height: 210px;
    background-color: #c4c4c4;
    margin-top: 21px;
    margin-bottom: 21px;
  }
  .ex {
    width: auto;
    text-align: center;
  }
  .kor {
    margin-bottom: 12px;
  }
  .eng {
    margin-top: 12px;
    margin-bottom: 40px;
  }
  .A_explain {
    width: auto;
    font-size: 15px;
  }

  /* Mypage */
  .Mypage {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .M_title {
    width: auto;
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .M_upper {
    width: 100%;
    height: 143px;
    display: flex;
    flex-direction: column;
  }
  .M_profileCon {
    width: 100%;
    height: 93px;
    background-color: #335696;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .M_profileDiv {
    width: 70px;
    height: 70px;
    background-color: #c4c4c4;
    border-radius: 45px;
    margin-left: 10px;
  }
  .profileImg {
    width: 70px;
    height: 70px;
    border-radius: 45px;
  }
  .M_id {
    width: auto;
    font-size: 20px;
    color: #fff;
    margin-left: 15px;
  }
  .M_setting {
    width: 30px;
    height: 30px;
    background-color: #c4c4c4;
    border-radius: 15px;
    margin-left: 245px;
  }

  .M_buttonCon {
    width: 100%;
    height: 50px;
    background-color: #d9d9d9;
    display: flex;
  }
  .M_cart {
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .M_Span {
    width: auto;
    font-weight: bold;
  }
  .M_question {
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }

  .M_orderHist {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .M_orderTit {
    width: auto;
    font-size: 20px;
    font-weight: bold;
  }
  .M_orderCon {
    width: calc(100% - 20px);
    height: 330px;
    background-color: #f9f9f9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .pdtForm {
    width: calc(100% - 40px);
    height: 125px;
    border: 1px solid #c4c4c4;
  }
  .pdtForm:nth-child(2) {
    border-top: none;
  }
  .more {
    width: calc(100% - 40px);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }

  /* Shop */
  .Shop {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    overflow: scroll;
  }
  .shopNav {
    width: 288px;
    height: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  .usher {
    cursor: pointer;
    color: rgba(5, 5, 5, 0.5);
  }

  .S_active {
    color: #000;
  }

  .S_productsCon {
    width: 360px;
    height: 690px;
    display: grid;
    grid-template-columns: repeat(2, 165px);
    grid-template-rows: repeat(3, 203px);
    grid-gap: 10px;
    justify-content: center;
    margin-bottom: 30px;
  }
  .S_product {
    width: 165px;
    height: 203px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
  }
  .S_pdtImg {
    width: 165px;
    height: 165px;
    background-color: #c4c4c4;
  }
  .S_pdtName {
    width: auto;
    font-size: 9px;
    padding-top: 5px;
  }
  .S_price {
    width: auto;
    font-size: 9px;
    padding-top: 5px;
  }

  /* SignUp */
  .SUcon {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .SUmain {
    width: 390px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .SUtitleZone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
  }

  .SUtitle {
    font-size: 23px;
  }

  .id {
    display: flex;
    width: 320px;
  }
  .idInput {
    background-color: #f2f2f2;
    width: 320px;
    height: 60px;
    padding: 0;
    border: 0;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 15px;
  }
  .idInput:focus {
    outline: none;
  }

  .pw {
    width: 320px;
    height: 60px;
    margin-top: 19px;
  }
  .pwInput {
    background-color: #f2f2f2;
    width: 320px;
    height: 60px;
    padding: 0;
    border: 0;
    border-radius: 15px;
    text-align: center;
    font-size: 15px;
  }
  .pwInput:focus {
    outline: none;
  }

  .SUnameInput {
    margin-top: 10px;
    background-color: #f2f2f2;
    width: 320px;
    height: 60px;
    padding: 0;
    border: 0;
    border-radius: 15px;
    text-align: center;
    font-size: 15px;
  }
  .SUnameInput:focus {
    outline: none;
  }

  .SUemailInput {
    margin-top: 10px;
    background-color: #f2f2f2;
    width: 320px;
    height: 60px;
    padding: 0;
    border: 0;
    border-radius: 15px;
    text-align: center;
    font-size: 15px;
  }
  .SUemailInput:focus {
    outline: none;
  }

  .createBtn {
    background-color: #335696;
    width: 320px;
    height: 50px;
    border-radius: 15px;
    border: 0;
    margin-top: 30px;
    cursor: pointer;
  }
  .createSpan {
    color: #fff;
    font-size: 17px;
  }

  .SULink, .SILink {
    width: auto;
    height: 25px;
    margin-top: 20px;
  }

  .SUif, .SIif {
    width: auto;
    height: 25px;
    font-size: 13px;
    color: #444;
    cursor: pointer;
  }

  .outline {
    width: 270px;
    height: 1px;
    background-color: #000;
    margin-top: 70px;
  }

  .brand {
    font-size: 23px;
    margin-top: 70px;
  }

  /* SignIn */
  .SIcon {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .SImain {
    width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
  }

  .SItitleZone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
  }

  .SItitle {
    font-size: 23px;
    margin-bottom: 50px;
  }

  /* NotFound */
  .NotFound {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .NotFound h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 100;
  }
}
